@media screen and (max-width:1180px) {
    .container .mixing {
        width: 61.7vw;
    }

    .header-background .header {
        width: 83vw;
    }

    header .main-menu-background nav {
        width: 83vw;
    }
}

@media screen and (min-width:1024px) {
    .main-menu-background nav li:hover .submenu {
        visibility: visible;
        max-height: 500px;
    } 

    .for-contacts-mini {
        display: none;
    }
}

@media screen and (max-width:1023px) {
    html {
        font-size: 15px;
    }

    .container .mixing {
        width: auto;
    }

    .header-background .header {
        width: 93vw;
    }

    h6 {
        margin-left: 0;
    }

    .button-menu-mini {
        display: flex;
    }

    .background-mini-menu {
        position: absolute;
        overflow: hidden;
        right: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.8);
        height: 100vh;
        width: 100vw;
        display: none;
        backdrop-filter: blur(6px);
        z-index: -1;
        max-width: 0;
        visibility: hidden;
    } 

    .for-contacts {
        display: none;
    }

    .for-contacts-mini {
        position: absolute;
        bottom: 1em;
    }

    .background-mini-menu {
        display: block;
    }

    header .main-menu-background nav {
        width: 50vw;
        min-width: 230px;
        margin-top: 3.44em;
        overflow: auto;
        padding-bottom: 4.3em;
    }

    .main-menu-background nav > ul > li:hover {
        background: none;
    }
    
    .submenu.open  {
        visibility: visible;
        max-height: 500px;
    } 

    .submenu:last-child {
        border-radius: 0 0 0 0;
    }

    header .main-menu-background {
        position: absolute;
        right: 0;
        height: 100vh;
    }

    header .main-menu-background > nav > ul {
        display: block;
    }

    .submenu {
        position: relative;
    }

    .mixing h1 {
        margin: 0.5rem 0 1.125rem 0;
    }
}

@media screen and (max-width:767px) {
    html {
        font-size: 12px;
    }

    .mixing p {
        max-width: 420px;
    }

    .button-menu-mini div {
        border: 1.5px solid #B9B9B9;
        background: #B9B9B9;
        border-radius: 3px;
        margin: 2px 0;
    }
}

@media screen and (max-width:522px) {

}